<div class="container">
  <h1>Pathfinder Character Creator</h1>
  <h2>New Character</h2>
  <form action='/characters/new' method="POST">
    <input type="text" name="name" placeholder="Character Name"><br>
    <select>
      <option>Dwarf</option>
      <option>Elf</option>
      <option>Gnome</option>
      <option>Half-elf</option>
      <option>Halfling</option>
      <option>Half-orc</option>
      <option>Human</option>
    </select><br>
    <input type="submit">
  </form>
</div>
