<div class="container">
  <h1>Pathfinder Character Creator</h1>
  <h2>Select Name and Race</h2>
  <form action='/characters/new' method="POST">
    <input type="text" name="name" placeholder="Character Name"><br>
    <select name="race_choice">
      <option name="dwarf">Dwarf</option>
      <option name="elf">Elf</option>
      <option name="gnome">Gnome</option>
      <option name="halfelf">Half-elf</option>
      <option name="halfling">Halfling</option>
      <option name="halforc">Half-orc</option>
      <option name="human">Human</option>
    </select><br>
    <input type="submit">
  </form>
</div>
